tmp/
staging/
generated/
tmp/*
staging/*
generated/*
out/
out/*
*.TempPoint.*
*.Export.*
*.psprojs
*.RestorePoint.*
*.Run.ps1
*.Package.ps1


*.psproj
CustomMenu.inf*tempPoint*
build-tools/generated/
build-tools/generated/*